#
# ~/.bash_aliases
#
# Part of https://github.com/mloskot/archlinux-config
# Mateusz Loskot <mateusz@loskot.net>
#
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -l'
alias ls='ls --color=auto'
alias lsal='ls -al --color'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep="/usr/bin/grep $GREP_OPTIONS"
alias egrep='/usr/bin/egrep $GREP_OPTIONS'
unset GREP_OPTIONS
alias fgrep='/usr/bin/fgrep $GREP_OPTIONS'
alias gits='git status'
alias gitd='git diff'
# packer
alias pa="packer -S --auronly"
alias pann="packer -S --auronly --noconfirm --noedit"
alias payu="packer -Syu --auronly"
# sql*plus
alias rlrman="rlwrap rman"
alias rlsqlplus="rlwrap sqlplus"
# GnuPG
alias clipenc="xsel|gpg -ear mateusz@loskot.net|xsel -b"
alias clipdec="xsel -b|gpg -d|xsel -b && xsel -b"
# Skype
#alias skype='LD_PRELOAD=/usr/libxx/libv4l/v4l1compat.so skype'
# Bash Batch Image Processing Scripts 
# http://sourceforge.net/projects/bbips/
alias bbapcom='bash ~/.bbips/bbapcom'
alias bbatxt='bash ~/.bbips/bbatxt'
alias bbborder='bash ~/.bbips/bbborder'
alias bbcolorize='bash ~/.bbips/bbcolorize'
alias bbcopy='bash ~/.bbips/bbcopy'
alias bbhelp='bash ~/.bbips/bbhelp'
alias bbindex='bash ~/.bbips/bbindex'
alias bbnormalize='bash ~/.bbips/bbnormalize'
alias bbpaint='bash ~/.bbips/bbpaint'
alias bbflip='bash ~/.bbips/bbflip'
alias bbflop='bash ~/.bbips/bbflop'
alias bbgamma='bash ~/.bbips/bbgamma'
alias bbgrayscale='bash ~/.bbips/bbgrayscale'
alias bbgzip='bash ~/.bbips/bbgzip'
alias bbrecom='bash ~/.bbips/bbrecom'
alias bbresize='bash ~/.bbips/bbresize'
alias bbrotate='bash ~/.bbips/bbrotate'
alias bbsepia='bash ~/.bbips/bbsepia'
alias bbsolarize='bash ~/.bbips/bbsolarize'
alias bbwrcom='bash ~/.bbips/bbwrcom'
alias bbrename='bash ~/.bbips/bbrename'
alias bbshot='bash ~/.bbips/bbshot'
alias bbgallery='bash ~/.bbips/bbgallery'
